<h2>Show profile</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @profile.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @profile.email %>
  </li>

</ul>

<%= link "Edit", to: profile_path(@conn, :edit, @profile) %>
<%= link "Back", to: profile_path(@conn, :index) %>
