<h2>New Wiki</h2>

<%= render(
  "form.html",
  changeset: @changeset,
  action: wiki_path(@conn, :create)
) %>

<ol class="breadcrumb">
  <li><%= link "Home", to: wiki_path(@conn, :index) %></li>
  <li class="active">New Wiki</li>
</ol>
