<h2>Edit Page</h2>

<%= render(
  "form.html",
  changeset: @changeset,
  action: wiki_page_path(@conn, :update, @wiki, @page)
)%>

<ol class="breadcrumb">
  <li><%= link "Home", to: wiki_path(@conn, :index) %></li>
  <li><%= link @wiki.name, to: wiki_path(@conn, :show, @wiki) %></li>
  <li><%= link "Pages", to: wiki_page_path(@conn, :index, @wiki) %></li>
  <li class="active">Edit Page</li>
</ol>
