<h2>Show page</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @page.name %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @page.slug %>
  </li>

  <li>
    <strong>Wiki:</strong>
    <%= @page.wiki_id %>
  </li>

</ul>

<%= link "Edit", to: page_path(@conn, :edit, @page) %>
<%= link "Back", to: page_path(@conn, :index) %>
